<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>


        <main>
            <div>
              <form action="/new" method="POST">
                <fieldset>
                    <legend>Create a new Coffee</legend>

                    <label>
                        NAME: <input type="text" name="name" placeholder="enter cooky coffee catchphrase" />
                    </label>
                    <label>
                        BEAN: <input type="text" name="bean type" placeholder="Choose a bean" />
                    </label>      
                    <label>
                        ADD EXPRESSO SHOT: <input type="checkbox" name="expressoShot" />
                    </label>   
                    <label>
                        FLAVOR: <input type="text" name="Flavor" placeholder="Choose a flavor" />
                    </label>  
                    <label>
                        SUGAR: <input type="text" name="Sugar" placeholder="Sugar" />
                    </label>  
                    <label>
                        ICED: <input type="checkbox" name="iced" />
                    </label>  
                    <label>
                        SIZE: <input type="text" name="Size" placeholder="Size" />
                    </label> 
                </fieldset>
                
                <input type="submit" value="Genesis" />
              </form>        

            </div>
        </main>
    </body>
</html>